<html ng-csp ng-app="myModule">
	<head>
		<script type="text/javascript" src = "angular.min.js"></script>
		<script type="text/javascript" src = "module-for-tab.js"></script>
		<script type="text/javascript" src = "cookie-service-for-tab.js"></script>
		<style>
			table {
			width: 100%;
			table-layout: fixed; 
			}
			td {
			col align: center;
			text-align: left;
			}

		</style>
		
		
	</head>
	<body ng-controller="cookieCtrl">
	<h1>Hello</h1>
	
	
	<span ng-repeat="cookie in cookies">
		<div ng-if="!cookie.selected" ng-click="select(cookie.number)">
			<div>{{cookie.domain}}</div>
			<div>{{cookie.value}}</div>
			<div>{{cookie.name}}</div>
		</div>
		<div ng-if="cookie.selected">
			<input ng-model = "cookie.domain">
			<input  ng-model = "cookie.value">
			<input  ng-model = "cookie.name">
			<button ng-click="cookieUpdate()">Update</button>
			<button ng-click="cancel()">Cancel</button>
			<button ng-click="cookieDelete()">delete</button>
		</div>
	</span>
	<span>
		<input ng-model = "destCookie.name">
		<input ng-model = "destCookie.value">
		<button ng-click = "cookieCreate()">Create</button>
	</span>
	
	</body>
</html>