<html ng-csp ng-app="myModule">
	<head>
		<script type="text/javascript" src = "angular.min.js"></script>
		<script type="text/javascript" src = "fMyModule.js"></script>
		<script type="text/javascript" src = "cookieServiceDP.js"></script>
		<style>
			table {
			width: 100%;
			table-layout: fixed; 
			}
			td {
			col align: center;
			text-align: left;
			}

		</style>
		
		
	</head>
	<body ng-controller="cookieCtrl">
	<h1>Hello</h1>
	<p>{{test}}</p>
	<p>{{cookies[1].domain}}</p>
	
	
	<span ng-repeat="cookie in cookies">
		<div ng-if="!cookie.selected" ng-click="select(cookie.number)">
			<div>{{cookie.domain}}</div>
			<div>{{cookie.value}}</div>
			<div>{{cookie.name}}</div>
		</div>
		<div ng-if="cookie.selected">
			<input ng-value="cookie.domain" ng-model = "domain">
			<input ng-value="cookie.value" ng-model = "value">
			<input ng-value="cookie.name" ng-model = "name">
			<button ng-click="service.Update(buffer, {domain: domain, value: value, name: name}, )">Update</button>
			<button ng-click="cancel()">Cancel</button>
			<button ng-click="service.deleteCookie(cookie)">delete</button>
		</div>
	</span>
			
	
	</body>
</html>